name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        cache-dependency-path: go.sum
        go-version: '1.25'
    - name: Build
      run: make all
    - name: Lint
      run: make lint
    - name: Test
      run: make test
